%text-button{
    text-decoration: none;
    font-family: inherit;
    padding: 0;
    text-transform: uppercase;
    font-weight: 300;
    background: none;
    border: none;
    color: $light-white;
}