@import "normalize";
@import "colors";
@import "variables";
@import "fonts";
@import "elements";
@import "components";

body{
	font-family: 'Circular Std', 'SF Pro Display';
	background-color: $dark;
	color: $light-white;
	font-weight: 300;
}

.header{
	background-color: #000;
	padding: 1.75*$std-padding 2.5*$std-padding;
	display: flex;
	align-items: center;
	justify-content: space-between;
	&-title{
		text-transform: uppercase;
		letter-spacing: 2px;
		text-decoration: none;
		color: inherit;
	}
	&-notif{
		display: none;
		margin: 0 auto;
		b{
			color: $white;
		}
		&-icon{
			width: 36px;
			vertical-align: bottom;
		}
		&-text{
			display: inline-block;
			font-size: 0.9em;
			padding: 1.25*$std-padding 0;
		}
	}
	@media screen and (min-width: 700px) {
		padding: 0.75*$std-padding 2.5*$std-padding;
		&-notif{
			display: block;
		}
	}
}

.main{
	width: 100%;
	padding: 4*$std-padding;
	box-sizing: inherit;
	&-content{
		display: block;
	}
	&-head{
		display: flex;
		align-items: baseline;
		justify-content: space-between;
		margin-bottom: 8%;
	}
	&-title{
		font-size: 2em;
		font-weight: 700;
		color: $white;
	}
	&-extra{
		font-size: 1em;
		font-weight: 300;
		color: $lighter-white;
	}
	@media screen and (min-width: 700px) {		
		padding: 2.75% 0;
		&-head{
			margin-bottom: 4%;
		}
		&-content{
			display: inline-block;
			width: 67%;
			vertical-align: top;
			margin-right: 2.75%;
		}
	}
}

.panel{
	display: block;
	margin-bottom: 12%;
	&-head{
		display: flex;
		align-items: baseline;
		justify-content: space-between;
		margin-bottom: 4.75%;
	}
	&-title{
		color: $white;
		font-size: 1.2em;
		font-weight: 700;
	}
	&-button{
		font-family: inherit;
		display: inline-block;
		background-color: $grey;
		border-radius: 0.5*$std-padding;
		border: none;
		color: $light-white;
		text-transform: uppercase;
		font-size: 0.72em;
		letter-spacing: 1px;
		padding: 0.8*$std-padding 1.3*$std-padding;
		margin: 2.5% 2.5% 0 0;
		&.true{
			background-color: $black;
			color: $cobalt;
		}
		&.false:hover{
			background-color: $lighter-white;
		}
		span{
			vertical-align: middle;
		}
	}
	&-box{
		background-color: $black;
		margin-bottom: 4.25%;
		border-radius: 1.25*$std-padding;
		padding: 2.5*$std-padding 2.75*$std-padding 2.75*$std-padding;
		&-group:not(:last-child){
			margin-bottom: 2*$std-padding;
		}
		&-title{
			font-size: 0.75em;
		}
	}
	&-extra{
		@extend %text-button;
		font-size: 0.7em;
	}
	@media screen and (min-width: 700px) {
		display: inline-block;
		width: 24.75%;
		vertical-align: top;
		margin: 0 2.75%;
		&-button{
			margin-right: 1.25*$std-padding;
			margin-top: 1.25*$std-padding;
		}
	}
}

.group{
	margin-bottom: 9%;
	&-title{
		color: $white;
		font-size: 1.2em;
		font-weight: 700;
		margin-bottom: 4.5%;
	}
	&.off{
		background-color: $black;
		padding: 2em 2em 0;
		border-radius: 2*$std-padding;
		.group-title{
			color: $lighter-white;
		}
	}
	@media screen and (min-width: 700px) {
		margin-bottom: 4.5%;
		&-title{
			margin-bottom: 3.25%;
		}
	}
	@media screen and (min-width: 1000px) {
		&-title{
			margin-bottom: 2%;
		}
	}
}

.item{
	display: inline-block;
	vertical-align: top;
	transition: transform 0.05s ease-in-out;
	position: relative;
	cursor: pointer;	
	border-radius: 0.65*$std-padding;
	overflow: hidden;
	margin: 0 5% 5% 0;
	&.small{
		width: 30%;
		height: 3.8em;
	}
	&.big{
		width: 47.5%;
		height: 6.1em;
	}
	&-tile{
		width: 100%;
		height: 100%;
		background-color: $white;
		display: flex;
		align-items: center;
		justify-content: center;
		img{
			max-width: 70%;
			max-height: 75%;
		}
	}
	&-form{
		margin-bottom: 0.2*$std-padding;
		display: block;
	}
	&-name{
		@extend %box-tag;
		bottom: 0.6*$std-padding;
		left: 0.6*$std-padding;
		z-index: 1;
		background-color: rgba($dark,0.75);
	}
	&:hover{
		transform: scale(1.05);
	}
	@media screen and (min-width: 700px) {
		&.small{
			width: 30.66%;
			height: 5.3em;
		}
		&.big{
			width: 48%;
			height: 8em;
		}
		margin: 0 4% 3.5% 0;
		border-radius: 0.5*$std-padding;
	}
	@media screen and (max-width: 999px) {
		&.small{
			&:nth-child(3n){
				margin-right: 0;
			}
			&:nth-child(3n+1):nth-last-child(-n+3),&:nth-child(3n+1):nth-last-child(-n+3)~*{
				margin-bottom:0;
			}
		}
		&.big{
			&:nth-child(2n){
				margin-right: 0;
			}
			&:nth-child(2n+1):nth-last-child(-n+2),&:nth-child(2n+1):nth-last-child(-n+2)~*{
				margin-bottom:0;
			}
		}
	}
	@media screen and (min-width: 1000px) {
		margin: 0 2.5% 2.35% 0;
		border-radius: 0.75*$std-padding;
		&.small{			
			width: 14.58%;
			height: 5.3em;
			&:nth-child(6n){
				margin-right: 0;
			}
			&:nth-child(6n+1):nth-last-child(-n+6),&:nth-child(6n+1):nth-last-child(-n+6)~*{
				margin-bottom:0;
			}
		}
		&.big{
			width: 23.125%;
			height: 8.4em;
			&:nth-child(4n){
				margin-right: 0;
			}
			&:nth-child(4n+1):nth-last-child(-n+4),&:nth-child(4n+1):nth-last-child(-n+4)~*{
				margin-bottom:0;
			}
		}
	}
}